@page
@model TexasBar.UploadModel
@{
    ViewData["Title"] = "Upload";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-plus"></i>
            <h2>Upload Page</h2>

            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="BookValue">Book Name:</label>
                    <select asp-for="BookValue"   class="custom-select">
                        <option value="TFM">TFM</option>
                        <option value="TGM">TGM</option>
                        <option value="TBO">TBO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Version">Version:</label>
                    <select asp-for="Version" class="custom-select" asp-items="Model.Options">
                    </select>
                </div>
               
                <div class="form-group">
                    <label for="Upload">Other:</label>
                    <input type="file" asp-for="Upload" class="form-control">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="remember"> Remember me</label>
                </div>
                <button type="submit"  class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <br />
    <div>
        <div class="panel-body">

            <div class="table-responsive ">
                <table id="uploaded" class="table table-striped datatable  table-bordered">
                    <thead>
                        
                        <tr>
                            <th >Id</th>
                            <th>File Name</th>
                            <th >Book Value</th>
                            <th>Version</th>
                            <th>Status</th>
                            <th>Upload date</th>
                       
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>

        </div>
    </div>

</div>
